@using Microsoft.AspNetCore.Components.Web

<button class="btn btn-sm btn-@(ColorScheme)" @onclick="OnClick" disabled="@(Disabled)">
    @if (!string.IsNullOrEmpty(Icon))
    {
        <NanoIcon Icon="@(Icon)"></NanoIcon>
    }

    @if (!string.IsNullOrEmpty(Text))
    {
        <span class="ms-1">@Text</span>
    }
</button>


@code {
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public string Icon { get; set; } = "";
    [Parameter] public string Text { get; set; } = "";
    [Parameter] public string ColorScheme { get; set; } = "primary";
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
}